app-inicio{
    position: absolute;
    right: 0;
    width: 85%;
    margin: 0;
    height: 100%;
}

app-sidenav{
    position: absolute;
    left: 0;
    width: 15%;
    margin: 0;
    height: 100%;
}