
app-inicio{
  transition: opacity 0.3s;
}

app-sidenav:hover + app-inicio{
  opacity: 10%;
  transition: opacity 0.5s;
}




@media (min-width:1025px)
{
  app-descripcion{
    position: absolute;
    bottom: 10;
    width: 100%;
    margin-top: 10%;
    height: 50vh;
  }
}

@media (min-width:500px) and (max-width: 1024px) 
{
  app-descripcion{
    position: fixed;
    margin-top: 100%;
  }
}


@media (max-width: 499px) 
{
  app-descripcion{
    position: absolute;
    margin-top: 80vh;
    width: 100%; 
    padding: 1%;
    height: 50vh;
  }
}
